<h1>hola mundo</h1>

<!-- en esta clase vamos a crear las rutas de la aplicacion

en el appcomponent vamo a mostrar de manera condicional las rutas dependido de la ruta
en que me encuentre


*usualmente las rutas principales estan colocadas almmismo nivel que el appmodula-->

<!-- con esto puedo observar la ruta en la que yo me encuantro <router-outlet></router-outlet>
esto le dice a angular que  dependiendo d ela ruta en la que este que haga machs con la ruta que se definieron
 y dentro renderiza ese componente-->
<router-outlet></router-outlet>